# APP_URL: The URL where this app is hosted.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="http://localhost:3000"
ROLL_MIT_DEPLOY_HOST=87.106.155.202
ROLL_MIT_DEPLOY_USER=root